# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc

# Environments
.meta/
.venv/
venv

# Environment files
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite3-journal

# Logs
*.log

